* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans';
}

.logout {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border: 1px solid lightgrey;
  -webkit-box-shadow: 1px 3px 2px lightgrey;
          box-shadow: 1px 3px 2px lightgrey;
  padding: 10px;
  width: 90px;
  position: absolute;
  right: 1%;
  opacity: 0;
}

.logout i {
  color: lightgrey;
}

.logout p {
  color: lightgrey;
  font-size: 12px;
  padding-left: 5px;
}

.logout-open .logout {
  opacity: 1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .switch {
  display: none;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 56px;
}

header .avatar-style {
  cursor: pointer;
  padding-right: 10px;
}

header .avatar-style img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  padding: 8px;
}

.catalog-header {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.logo-label {
  display: none;
}

.catalogue-label {
  background: -webkit-gradient(linear, right top, left top, color-stop(98%, #ccecf7), color-stop(2%, #0283b6));
  background: linear-gradient(to left, #ccecf7 98%, #0283b6 2%);
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  width: 228px;
  background-color: white;
}

.sidebar ul {
  padding-top: 10px;
}

.sidebar li {
  padding: 10px 20px;
  width: 94%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.sidebar li p {
  color: gray;
  font-size: 14px;
}

.sidebar li i {
  color: gray;
}

.sidebar li:hover {
  background: -webkit-gradient(linear, right top, left top, color-stop(98%, #ccecf7), color-stop(2%, #0283b6));
  background: linear-gradient(to left, #ccecf7 98%, #0283b6 2%);
}

.sidebar hr {
  color: lightgrey;
  margin-left: 10px;
  width: 103%;
}

.pills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1%;
  padding-bottom: 3%;
}

.pills .pill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 25%;
  font-size: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px 5px;
  margin-right: 5px;
  text-transform: uppercase;
}

.prev-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  padding: 0 2px;
  margin-bottom: 5px;
}

.prev-details .prev-price {
  font-size: 16px;
  margin-top: 3px;
  color: lightgrey;
  text-align: end;
  text-decoration: line-through;
}

.last-offer {
  width: 85%;
  margin-bottom: 10px;
}

.last-offer p {
  font-size: 12px;
  font-style: italic;
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  background-color: #f3f2f2;
  margin-left: 28px;
}

.products-catalog {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2%;
  padding: 2%;
}

.products-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 31%;
  margin-right: 2%;
}

.product-card .arrow-up {
  position: relative;
  top: 0;
  left: -40%;
  margin: 10px;
  width: 0;
  height: 0;
  border-right: 45px solid transparent;
  border-top: 45px solid red;
}

.product-card .arrow-up span {
  position: relative;
  top: -28px;
  left: 10px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: block;
}

.product-card .hidden {
  visibility: hidden;
}

.product-card .product-photo {
  width: 250px;
  height: 250px;
  border-bottom: 1px solid lightgray;
}

.product-card .product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
  padding: 0 2px;
}

.product-card .product-details p {
  font-size: 16px;
  font-weight: bold;
  color: gray;
  text-transform: uppercase;
}

.product-card .product-details .price {
  color: black;
  font-size: 26px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  header .switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2%;
  }
  header .logo {
    display: none;
  }
  .catalog-header {
    font-size: 15px;
  }
  .logo-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: black;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 2;
    -webkit-transform: translateX(-228px);
            transform: translateX(-228px);
  }
  .sidebar li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 82%;
  }
  .sidebar li:hover {
    background-color: aquamarine;
  }
  .sidebar hr {
    width: 90%;
  }
  .sidebar-open .sidebar {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .sidebar-open .products-catalog .overlay {
    visibility: visible;
    opacity: 1;
  }
  .products-container {
    background-color: #f3f2f2;
    padding: 2%;
  }
  .products-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-card {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .product-card .product-details p {
    font-size: 14px;
  }
  .product-card .product-details .price {
    font-size: 24px;
  }
  .prev-details {
    width: 85%;
  }
  .last-offer {
    width: 85%;
  }
  .container {
    left: 0;
    margin-left: 0;
  }
  .products-catalog {
    width: 100%;
    padding-left: 20px;
  }
  .products-catalog .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
  }
}
/*# sourceMappingURL=catalogue.css.map */