* {
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .switch{
        display: none;
    }
    .logo{
        background-color: black;
        height: 52px;
    }
    .avatar {
        vertical-align: middle;
        width: 30px;
        height: 30px;
        border-radius: 30%;
        padding: 8px;
      }
}

.avatar-style{
    padding-right: 10px;
}

#sidebar {
    display: flex;
    position: relative;
    height: 100%;
    width: 208px;
    background-color: white;
    li {
        display: flex;
        padding: 20px;
        width: 100%;
        cursor: pointer;

        &:hover{
            background-color: aquamarine;
        }
    }
}



.products-container{
    display: flex;
    background-color: white;
}

.container{
    display: flex;
    flex: 100%;
    background-color: lightgray;
    margin-left: 28px;
}

.products-catalog {
    background-color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
}

.products-row {
    display: flex;
    margin-bottom: 2%;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    width: 23%;
    margin-right: 2%;
    
    .product-photo{
        width: 200px;
        height: 220px;
        border-bottom: 1px solid lightgray;
    }
    .product-details {
        display: flex;
        width: 100%;
        justify-content: space-around;
        p{
            font-size: 12px;
            font-weight: bold;
            color: gray;
        }
    }
}

@media screen and (max-width: 600px) {
    body{
        background-color: lightgrey;
        width: 100%;
    }
    header{
        background-color: white;
        width: 135%;
        .switch{
            display: flex;
            padding-left: 2%;
        }
        .logo{
            display: none;
        }
    }
    .sidebar{
        display: flex;
        background-color: white;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        // transform: translateX(-208px);
    }
    .sidebar-open{
        .sidebar{
            transform: translateX(0);
        }
    }
    .products-row{
        flex-direction: column;
    }
}

