* {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .switch {
  display: none;
}

header .logo {
  background-color: black;
  height: 56px;
}

header .avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  padding: 8px;
}

.logo-label {
  display: none;
}

.dashboard-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-label p {
  color: gray;
  font-size: 16px;
}

.dashboard-label i {
  color: gray;
}

.catalogue-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: aquamarine;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalogue-label p {
  color: gray;
  font-size: 16px;
}

.catalogue-label i {
  color: gray;
}

.avatar-style {
  padding-right: 10px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 228px;
  background-color: white;
}

.sidebar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 100%;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: aquamarine;
}

.pills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 1%;
  padding-bottom: 3%;
}

.pills .pill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 25%;
  font-size: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px 5px;
  margin-right: 5px;
}

.prev-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  padding: 0 2px;
  margin-bottom: 5px;
}

.prev-details h6 {
  margin-top: 3px;
  color: lightgrey;
  text-align: end;
  text-decoration: line-through;
}

.last-offer {
  width: 85%;
}

.last-offer p {
  font-size: 12px;
  font-style: italic;
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  background-color: #f3f2f2;
  margin-left: 28px;
}

.products-catalog {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2%;
  padding: 2%;
}

.products-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgray;
  width: 23%;
  margin-right: 2%;
}

.product-card .product-photo {
  width: 200px;
  height: 220px;
  border-bottom: 1px solid lightgray;
}

.product-card .product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 2px;
}

.product-card .product-details p {
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

.product-card p {
  font-size: 12px;
  font-style: italic;
  text-align: left;
  padding-bottom: 5px;
}

@media screen and (max-width: 600px) {
  header .switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2%;
  }
  header .logo {
    display: none;
  }
  .logo-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: black;
  }
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 2;
    -webkit-transform: translateX(-228px);
            transform: translateX(-228px);
  }
  .sidebar li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 82%;
  }
  .sidebar li:hover {
    background-color: aquamarine;
  }
  .sidebar-open .sidebar {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .sidebar-open .products-catalog .overlay {
    visibility: visible;
    opacity: 1;
  }
  .products-container {
    background-color: lightgrey;
    padding: 2%;
  }
  .products-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-card {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .prev-details {
    width: 75%;
  }
  .last-offer {
    width: 75%;
  }
  .container {
    left: 0;
    margin-left: 0;
  }
  .products-catalog {
    width: 100%;
    padding-left: 20px;
  }
  .products-catalog .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
  }
}
/*# sourceMappingURL=catalogue.css.map */