* {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .switch {
  display: none;
}

header .logo {
  background-color: black;
  height: 52px;
}

header .avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  padding: 8px;
}

.avatar-style {
  padding-right: 10px;
}

#sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 208px;
  background-color: white;
}

#sidebar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 100%;
  cursor: pointer;
}

#sidebar li:hover {
  background-color: aquamarine;
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  background-color: lightgray;
  margin-left: 28px;
}

.products-catalog {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2%;
  padding: 2%;
}

.products-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgray;
  width: 23%;
  margin-right: 2%;
}

.product-card .product-photo {
  width: 200px;
  height: 220px;
  border-bottom: 1px solid lightgray;
}

.product-card .product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-card .product-details p {
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

@media screen and (max-width: 600px) {
  body {
    background-color: lightgrey;
    width: 100%;
  }
  header {
    background-color: white;
    width: 135%;
  }
  header .switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2%;
  }
  header .logo {
    display: none;
  }
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .sidebar-open .sidebar {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .products-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=catalogue.css.map */