* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans';
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .switch{
        display: none;
    }
    .logo{
        display: flex;
        background-color: black;
        height: 56px;
    }
    .avatar-style{
        padding-right: 10px;
        img {
            vertical-align: middle;
            width: 30px;
            height: 30px;
            border-radius: 30%;
            padding: 8px;
          }
    }    
}

.dashboard {
    display: flex;
}

.logo-label{
    display: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 217px;
    ul{
        padding-top: 10px;
    }
    li {
        padding: 10px 20px;
        width: 82%;
        cursor: pointer;
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        p{
            color: gray;
            font-size: 14px;
        }
        i{
            color: gray;
        }

        &:hover{
            background: linear-gradient(to left, rgb(204, 236, 247) 98%, rgb(2, 131, 182) 2%)
        }
    }
    hr {
        color: lightgrey;
        margin-left: 10px;
        width: 90%;
    }
}

.dashboard-label{
    background: linear-gradient(to left, rgb(204, 236, 247) 98%, rgb(2, 131, 182) 2%);
}

.main-bar{
    display: flex;
    flex-direction: column;
    background-color: rgb(241,244,248);
    flex: 1;
    padding-top: 10px;
    padding-left: 15px;
    height: 100%;
    .main-bar-header {
        font-size: 17px;
        font-weight: bold;
        padding: 20px 5px;
        text-transform: uppercase;
    }
}

.holders{
    display: flex;
    padding: 5px;
}

.profit {
    background-color: white;
    width: 45%;
    padding: 15px;
    border-radius: 10px;
    margin-right: 2%;
    p {
        font-size: 13px;
        margin-top: 2px;
        margin-bottom: 15px;
    }

}

.info-design {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.info {
    display: flex;
    justify-content: space-between;
    .value {
        font-size: 23px;
        font-weight: bold;
    }
    .blue{
        color: rgb(4,123,254);
    }
    .red{
        color: red;
    }
    .green{
        color: rgb(41,157,66);
    }
    .grey{
        color: rgb(168,180,188);
    }
}

.progress{
    background-color: lightgray;
    border-radius: 20px;
    height: 10px;
    width: 95%;
    .progress-bar {
        border-radius: 20px;
        height: 10px;
    }
    .profit-bar{
        background-color: rgb(4,123,254);
    }
    .feedback-bar{
        background-color: rgb(71,191,138);
    }
    .new-orders-bar{
        background-color: red;
    }
    .new-users-bar{
        background-color: rgb(172,183,191);
    }
}

.change-status {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    p{
        color: gray;
    }
}

.table-group{
    background-color: white;
    width: 94%;
    border-radius: 10px;
    padding: 15px;
    margin-left: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    .table-title{
        color: black;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    p {
        font-size: 13px;
        margin-top: 2px;
        color: gray;
        margin-bottom: 15px;
    }
}
.referral-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    thead tr {
        background-color: rgb(241,244,248);
        text-align: left;
        font-weight: bold;
    }
    th, td {
        padding: 12px 15px;
    }
    tbody tr {
        border-bottom: 1px solid lightgray;
    }
    tbody tr:last-of-type{
        border-bottom: 2px solid white;
    }
}

.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 34%;
    padding: 2px;
    margin-right: 2%;
    align-items: center;
    i{
        color: lightgray;
    }
    .card-owner{
        color: #000;
        font-size: 21px;
        font-weight: bold;
        padding-top: 25px;
        padding-bottom: 5px;
    }
    .mastercard {
        display: flex;
        justify-content: center;
        width: 75%;
        border-bottom: 1px solid lightgray;
        font-weight: bold;
        color: gray;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    p {
        font-size: 16px;
        color: gray;
    }
    .sub-para {
        font-size: 12px;
        font-style: italic;
        padding: 15px;
    }
}

.pricetag{
    background-color: rgb(71,191,138);
    position: relative;
    border-radius: 4px;
    top: 4%;
    left: 36%;
    box-shadow: 0 2px 5px 0 lightgray;
    display: flex;
    padding: 2px 15px;
    justify-content: center;
    p{
        font-size: 18px;
        font-weight: bold ;
        color: white;
    }
}

.teams-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 23%;
    padding: 12px;
    margin-right: 2%;
    .teams-card-header{
        color: black;
        font-size: 21px;
        font-weight: bold;
        text-align: left;
        padding: 15px;
    }
    p {
        text-align: center;
        color: gray;
    }
    
    .sub-para{
        font-size: 14px;
        font-style: italic;
        padding-bottom: 3px;
    }
}
.members-para {
    display: flex;
    margin-left: auto;
    width: 90%;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
    .member-holders{
        margin-left: auto;
        margin-right: 5px;
        display: flex;
    }
    .member-card-circle{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        font-size: 12px;
        font-weight: bold;
        color: white;
    }
}

@media screen and (max-width: 600px) {
    body{
        width: 100%;
    }
    header{
        background-color: white;
        width: 100%;
        .switch{
            display: flex;
            padding-left: 2%;
        }
        .logo{
            display: none;
        }
    }
    .logo-label{
        display: flex;
        width: 100%;
        background-color: black;
    }
    .avatar-style{
        margin-left: auto;
    }
    
    .sidebar{
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        transform: translateX(-217px);
        li{
            width: 81%;
        }
        

    }
    .sidebar-open {
        .sidebar{
            transform: translateX(0);
        }
        .main-bar{
            .overlay{
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .main-bar {
        width: 100%;
        overflow-x: hidden;
        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            visibility: hidden;
            opacity: 0;
        }
        .main-bar-header {
            font-size: 15px;
            margin-top: 2%;
            padding: 10px 5px;
        }
    }
    .holders {
        flex-direction: column;
        padding: 0;
    }
    .profit{
        width: 88%;
        margin-bottom: 10px;
        .info-profit{
            font-size: 14px;
        }
        .value{
            font-size: 21px;
        }
    }
    .table-group{
        width: 88%;
        .table-title{
            font-size: 14px;
        }
    }
    .card{
        width: 95%;
        margin-bottom: 20px;
        .card-owner{
            font-size: 19px;
        }
        p{
            font-size: 14px;
        }
    }
    .referral-table{
        font-size: 0.65em;
        .salary{
            display: none;
        }
    }

    .pricetag{
        position: relative;
        top: 10px;
        left: -33%;
        p{
            font-size: 16px;
        }
    }
    .teams-card{
        width: 89%;
        margin-bottom: 20px;
        .same-line-mv{
            display: flex;
            flex-direction: row;
            justify-content: center;
            p{
                font-size: 12px;
                padding-right: 2px;
            }
        }
        .teams-card-header{
            font-size: 19px;
        }
    }
    .members-para{
        padding-bottom: 10px;
    }
}