* {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .switch {
  display: none;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 56px;
}

header .avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  padding: 8px;
}

.avatar-style {
  padding-right: 10px;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-label {
  display: none;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  width: 217px;
}

.sidebar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 82%;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: aquamarine;
}

.dashboard-label {
  background-color: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-label p {
  color: gray;
  font-size: 16px;
}

.dashboard-label i {
  color: gray;
}

.catalogue-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalogue-label p {
  color: gray;
  font-size: 16px;
}

.catalogue-label i {
  color: gray;
}

.toggle-button {
  position: absolute;
  display: none;
  left: 105%;
  top: 15px;
}

.toggle-button span {
  display: block;
  background-color: black;
  height: 3px;
  width: 25px;
  margin: 2px;
}

.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: lightgray;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 45px;
  padding-left: 15px;
  height: 100%;
}

.header-bar h3 {
  margin-bottom: 20px;
}

.holders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.total-profit {
  background-color: white;
  width: 45%;
  padding: 15px;
  border-radius: 10px;
}

.total-profit p {
  margin-top: 2px;
  color: gray;
  margin-bottom: 15px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info h2 {
  color: blue;
}

.progress {
  background-color: lightgray;
  border-radius: 20px;
  height: 10px;
  width: 95%;
}

.progress .progress-profit {
  background-color: blue;
  border-radius: 20px;
  height: 10px;
  width: 70%;
}

.change-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3px;
}

.feedback {
  background-color: white;
  width: 45%;
  margin-left: 2%;
  border-radius: 10px;
  padding: 15px;
}

.feedback p {
  margin-top: 2px;
  color: gray;
  margin-bottom: 15px;
}

.info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info1 h2 {
  color: green;
}

.progress-feedback {
  background-color: lightgray;
  border-radius: 20px;
  height: 10px;
  width: 95%;
}

.progress-feedback .progress-feedback-status {
  background-color: green;
  border-radius: 20px;
  height: 10px;
  width: 89%;
}

.new-profits {
  background-color: white;
  width: 45%;
  border-radius: 10px;
  padding: 15px;
}

.new-profits p {
  margin-top: 2px;
  color: gray;
  margin-bottom: 15px;
}

.new-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new-info h2 {
  color: red;
}

.progress-newinfo {
  background-color: lightgray;
  border-radius: 20px;
  height: 10px;
  width: 95%;
}

.progress-newinfo .progress-newinfo-status {
  background-color: red;
  border-radius: 20px;
  height: 10px;
  width: 55%;
}

.new-users {
  background-color: white;
  width: 45%;
  margin-left: 2%;
  border-radius: 10px;
  padding: 15px;
}

.new-users p {
  margin-top: 2px;
  color: gray;
  margin-bottom: 15px;
}

.new-userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new-userinfo h2 {
  color: gray;
}

.progress-newuserinfo {
  background-color: lightgray;
  border-radius: 20px;
  height: 10px;
  width: 95%;
}

.progress-newuserinfo .progress-newuserinfo-status {
  background-color: gray;
  border-radius: 20px;
  height: 10px;
  width: 55%;
}

.table-group {
  background-color: white;
  width: 94%;
  border-radius: 10px;
  padding: 15px;
  margin-left: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.table-group p {
  margin-top: 2px;
  color: gray;
  margin-bottom: 15px;
}

.referral-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
}

.referral-table thead tr {
  background-color: lightgray;
  text-align: left;
  font-weight: bold;
}

.referral-table th, .referral-table td {
  padding: 12px 15px;
}

.referral-table tbody tr {
  border-bottom: 1px solid lightgray;
}

.referral-table tbody tr:last-of-type {
  border-bottom: 2px solid white;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 34%;
  padding: 2px;
  margin-right: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card h4 {
  border-bottom: 1px solid lightgray;
  color: gray;
  padding: 15px;
}

.card p {
  color: gray;
}

.card .sub-para {
  font-size: 14px;
  font-style: italic;
  padding: 15px;
}

.teams-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 23%;
  padding: 30px;
  margin-right: 2%;
}

.teams-card p {
  text-align: center;
  color: gray;
}

.teams-card .members-para {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.teams-card .sub-para {
  font-size: 14px;
  font-style: italic;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  body {
    background-color: lightgrey;
    width: 100%;
  }
  header {
    background-color: white;
    width: 135%;
  }
  header .switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2%;
  }
  header .logo {
    display: none;
  }
  .logo-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: black;
  }
  .avatar-style {
    margin-left: auto;
  }
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-transform: translateX(-217px);
            transform: translateX(-217px);
  }
  .sidebar li {
    width: 81%;
  }
  .sidebar-open .sidebar {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .sidebar-open .header-bar .overlay {
    visibility: visible;
    opacity: 1;
  }
  .header-bar {
    width: 135%;
  }
  .header-bar .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
  }
  .holders {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .total-profit {
    width: 92%;
    margin-bottom: 10px;
  }
  .feedback {
    width: 92%;
    margin-left: 0;
  }
  .new-profits {
    width: 92%;
    margin-bottom: 10px;
  }
  .new-users {
    width: 92%;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .table-group {
    width: 90%;
  }
  .card {
    width: 97%;
    margin-bottom: 20px;
  }
  .referral-table {
    margin-right: 25px;
  }
  .referral-table .salary {
    display: none;
  }
  .teams-card {
    width: 85%;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=dashboard.css.map */