* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans';
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .switch {
  display: none;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 56px;
}

header .avatar-style {
  padding-right: 10px;
}

header .avatar-style img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  padding: 8px;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-label {
  display: none;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  width: 217px;
}

.sidebar ul {
  padding-top: 10px;
}

.sidebar li {
  padding: 10px 20px;
  width: 82%;
  cursor: pointer;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.sidebar li p {
  color: gray;
  font-size: 14px;
}

.sidebar li i {
  color: gray;
}

.sidebar li:hover {
  background: -webkit-gradient(linear, right top, left top, color-stop(98%, #ccecf7), color-stop(2%, #0283b6));
  background: linear-gradient(to left, #ccecf7 98%, #0283b6 2%);
}

.sidebar hr {
  color: lightgrey;
  margin-left: 10px;
  width: 90%;
}

.dashboard-label {
  background: -webkit-gradient(linear, right top, left top, color-stop(98%, #ccecf7), color-stop(2%, #0283b6));
  background: linear-gradient(to left, #ccecf7 98%, #0283b6 2%);
}

.main-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3f2f2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 10px;
  padding-left: 15px;
  height: 100%;
}

.main-bar .main-bar-header {
  font-size: 17px;
  font-weight: bold;
  padding: 20px 5px;
  text-transform: uppercase;
}

.holders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.profit {
  background-color: white;
  width: 45%;
  padding: 15px;
  border-radius: 10px;
  margin-right: 2%;
}

.profit p {
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 15px;
}

.info-design {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info .value {
  font-size: 23px;
  font-weight: bold;
}

.info .blue {
  color: blue;
}

.info .red {
  color: red;
}

.info .green {
  color: green;
}

.info .grey {
  color: grey;
}

.progress {
  background-color: lightgray;
  border-radius: 20px;
  height: 10px;
  width: 95%;
}

.progress .progress-bar {
  border-radius: 20px;
  height: 10px;
}

.progress .profit-bar {
  background-color: blue;
  width: 70%;
}

.progress .feedback-bar {
  background-color: green;
  width: 89%;
}

.progress .new-orders-bar {
  background-color: red;
  width: 55%;
}

.progress .new-users-bar {
  background-color: grey;
  width: 60%;
}

.change-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3px;
}

.change-status p {
  color: gray;
}

.table-group {
  background-color: white;
  width: 94%;
  border-radius: 10px;
  padding: 15px;
  margin-left: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.table-group .table-title {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.table-group p {
  font-size: 13px;
  margin-top: 2px;
  color: gray;
  margin-bottom: 15px;
}

.referral-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
}

.referral-table thead tr {
  background-color: lightgray;
  text-align: left;
  font-weight: bold;
}

.referral-table th, .referral-table td {
  padding: 12px 15px;
}

.referral-table tbody tr {
  border-bottom: 1px solid lightgray;
}

.referral-table tbody tr:last-of-type {
  border-bottom: 2px solid white;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 34%;
  padding: 2px;
  margin-right: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card i {
  color: lightgray;
}

.card .card-owner {
  color: #000;
  font-size: 21px;
  font-weight: bold;
  padding-top: 25px;
}

.card .mastercard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  border-bottom: 1px solid lightgray;
  font-weight: bold;
  color: gray;
  padding-top: 20px;
  padding-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: gray;
}

.card .sub-para {
  font-size: 12px;
  font-style: italic;
  padding: 15px;
}

.pricetag {
  background-color: #40ac40;
  position: relative;
  border-radius: 4px;
  top: 4%;
  left: 32%;
  -webkit-box-shadow: 0 4px 4px 0 grey;
          box-shadow: 0 4px 4px 0 grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricetag p {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.teams-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 23%;
  padding: 12px;
  margin-right: 2%;
}

.teams-card .teams-card-header {
  color: black;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  padding: 15px;
}

.teams-card p {
  text-align: center;
  color: gray;
}

.teams-card .sub-para {
  font-size: 14px;
  font-style: italic;
  padding-bottom: 3px;
}

.members-para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  width: 90%;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 15px;
}

.members-para .member-holders {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.members-para .member-card-circle {
  background-color: orange;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.members-para .member-card-circle p {
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.members-para .circle1 {
  background-color: lightskyblue;
  left: 10%;
}

.members-para .circle2 {
  background-color: lightseagreen;
  left: 20%;
}

.members-para .circle3 {
  background-color: orchid;
  left: 30%;
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  header {
    background-color: white;
    width: 100%;
  }
  header .switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2%;
  }
  header .logo {
    display: none;
  }
  .logo-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: black;
  }
  .avatar-style {
    margin-left: auto;
  }
  .sidebar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-transform: translateX(-217px);
            transform: translateX(-217px);
  }
  .sidebar li {
    width: 81%;
  }
  .sidebar-open .sidebar {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .sidebar-open .main-bar .overlay {
    visibility: visible;
    opacity: 1;
  }
  .main-bar {
    width: 100%;
    overflow-x: hidden;
  }
  .main-bar .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
  }
  .main-bar .main-bar-header {
    font-size: 15px;
    margin-top: 2%;
    padding: 10px 5px;
  }
  .holders {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .profit {
    width: 88%;
    margin-bottom: 10px;
  }
  .profit .info-profit {
    font-size: 14px;
  }
  .profit .value {
    font-size: 21px;
  }
  .table-group {
    width: 85%;
  }
  .table-group .table-title {
    font-size: 14px;
  }
  .card {
    width: 95%;
    margin-bottom: 20px;
  }
  .card .card-owner {
    font-size: 19px;
  }
  .card p {
    font-size: 14px;
  }
  .referral-table .salary {
    display: none;
  }
  .pricetag {
    position: relative;
    top: 10px;
    left: -29%;
    width: 37%;
  }
  .pricetag p {
    font-size: 16px;
  }
  .teams-card {
    width: 89%;
    margin-bottom: 20px;
  }
  .teams-card .same-line-mv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .teams-card .same-line-mv p {
    font-size: 12px;
    padding-right: 2px;
  }
  .teams-card .teams-card-header {
    font-size: 19px;
  }
  .members-para {
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=dashboard.css.map */