body{
    background: url(../images/login-bg.jpg) no-repeat center fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

// .logo{
//     margin: 10px;
//     height: 50%;
//     width: 50%;
// }
.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 300px;

    h2 {
        color: white;
        text-align: center;
    }

    p{
        color: white;
        text-align: center;
        font-size: 14px;
    }
}

#wrong-creds{
    display: none;
    p{
        color: red;
    }
}

.form-container{
    background-color: white;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    padding: 0 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    width: 400px;
}
.form-group{
    align-items: space-around;
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-bottom: 3%;
    label {
        font-size: 14px;
        font-weight: bold;
    }
    #username{
        padding: 3%;
        margin: 2% 0;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
    #password{
        padding: 3%;
        margin: 2% 0;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
}

.rememberme{
    border-bottom: 1px solid lightgray;
    padding: 4% 0;
}

.button{
    margin-top: 4%;
    width: 20%;
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
}

.copyrights{
    margin-top: 2%;
    display: flex;
}

@media screen and (max-width: 600px){
    body{
        width: auto;
    }
    .container{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 15px;
        
    }

    .form-container{
        background-color: white;
        border-radius: 15px;
        display:flex;
        flex-direction: column;
        margin-top: 20%;
        width: 75%;
        h3{
            text-align: left;
        }
    }
    .form-group{
        align-items: space-around;
        display: flex;
        flex-direction: column;
        height: 60px;
    }
    .button{
        margin-top: 4%;
        width: 30%;
        padding: 10px;
        background-color: blue;
        color: white;
    }
}
