body{
    background: url(../images/login-bg.jpg) no-repeat center fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

h2 {
    color: red
}

.logo{
    margin: 10px;
    height: 50%;
    width: 50%;
}
.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 300px;

    h3 {
        color: white;
    }

    p{
        color: white;
        text-align: center;
    }
}

.form-container{
    background-color: white;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    padding: 0 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 400px;
}
.form-group{
    align-items: space-around;
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-bottom: 3%;
    #username{
        padding: 2%;
        margin: 2% 0;
    }
    #password{
        padding: 2%;
        margin: 2% 0;
    }
}

.rememberme{
    border-bottom: 1px solid lightgray;
    padding-bottom: 4%;
}

.button{
    margin-top: 4%;
    width: 20%;
    padding: 10px;
    background-color: blue;
    color: white;
}

.copyrights{
    margin-top: 2%;
    display: flex;
}

@media screen and (max-width: 500px){
    .container{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 10px;
        
        h3 {
            text-align: center;
        }
    }

    .form-container{
        background-color: white;
        border-radius: 15px;
        display:flex;
        flex-direction: column;
        width: 80%;
    }
    .form-group{
        align-items: space-around;
        display: flex;
        flex-direction: column;
        height: 60px;
        margin-bottom: 3%;
        #username{
            padding: 2%;
            margin: 1% 0;
        }
        #password{
            padding: 2%;
            margin: 1% 0;
        }
    }
    .button{
        margin-top: 4%;
        width: 30%;
        padding: 10px;
        background-color: blue;
        color: white;
    }
}
