body {
  background: url(../images/login-bg.jpg) no-repeat center fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  font-family: 'Nunito Sans';
  width: 100%;
}

.rplogo {
  margin: 8px;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.container .login-header {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.container .login-about {
  width: 65%;
}

.container p {
  color: white;
  text-align: center;
  font-size: 16px;
}

#wrong-creds {
  position: absolute;
  top: 60%;
  visibility: hidden;
}

#wrong-creds p {
  color: red;
}

.form-container {
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 50px;
  margin-top: 20px;
  width: 420px;
}

.form-container .form-header {
  color: black;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-group {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60px;
  margin: 3% 0;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
}

.form-group input {
  padding: 3%;
  margin: 2% 0;
  border: 1px solid #e0dcdc;
  border-radius: 5px;
  opacity: 0.6;
}

.rememberme {
  border-bottom: 1px solid #f3ecec;
  padding: 4% 0;
}

.button {
  cursor: pointer;
  margin-top: 8%;
  width: 20%;
  padding: 14px;
  background-color: #3ca5eb;
  border: none;
  border-radius: 5px;
  color: white;
}

.copyrights {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 600px) {
  body {
    width: auto;
    overflow-x: hidden;
  }
  .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0;
  }
  .container p {
    font-size: 14.5px;
  }
  .container .login-about {
    width: 90%;
  }
  .form-container {
    background-color: white;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20%;
    width: 60%;
  }
  .form-container .form-header {
    color: black;
    font-size: 18px;
  }
  #wrong-creds {
    top: 87%;
  }
  .form-group {
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60px;
  }
  .button {
    margin-top: 4%;
    width: 30%;
    padding: 14px;
    background-color: #3ca5eb;
    color: white;
  }
}
/*# sourceMappingURL=main.css.map */