* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans';
}

.logout{
    cursor: pointer;
    display: flex;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 1px 3px 2px lightgrey;
    padding: 10px;
    width: 90px;
    position: absolute;
    right: 1%;
    opacity: 0;
    i{
        color: lightgrey;
    }
    p{
        color: lightgrey;
        font-size: 12px;
        padding-left: 5px;
    }
}

.logout-open {
    .logout{
        opacity: 1;
    }
}
.profile-icon{
    cursor: pointer;
    padding-right: 10px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .switch{
        display: none;
    }
    .logo{
        background-color: black;
        height: 56px;
    }
    .avatar {
        vertical-align: middle;
        width: 30px;
        height: 30px;
        border-radius: 30%;
        padding: 8px;
      }
}

.logo-label{
    display: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 217px;
    background-color: white;
    ul{
        padding-top: 10px;
    }
    li {
        padding: 10px 20px;
        width: 82%;
        cursor: pointer;
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        p{
            color: gray;
            font-size: 14px;
        }
        i{
            color: gray;
        }

        &:hover{
            background: linear-gradient(to left, rgb(204, 236, 247) 98%, rgb(2, 131, 182) 2%);
        }
    }
    hr {
        color: lightgrey;
        width: 91%;
        margin-left: 8px;
    }
}

.modal-open{
    .modal-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
        display: flex;
        justify-content: center;
        padding: 20px;
        
    }
    .modal-window{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 30%;
        padding: 10px;
        .modal-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
            i{
                cursor: pointer;
            }
        }
        p{
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
        }
        button{
            margin-left: auto;
            margin-top: 5px;
            padding: 10px;
            border: 1px solid lightgray;
            cursor: pointer;
        }
    }
}
.modal-window{
    display: none;
}

.toggle-button {
    position: absolute;
    display: none;
    left: 105%;
    top: 15px;
    span {
        display: block;
        background-color: black;
        height: 3px;
        width: 25px;
        margin: 2px;
    }
    
}

#sidebar.active {
    left: 0%;
}

.container {
    display: flex;
}

.product-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(243, 242, 242);
    padding: 10px;
}

.backbutton {
    padding: 10px;
    color: rgb(43, 180, 226);
    cursor: pointer;
    background-color: white;
    border-radius: 10%;
    border: 1px solid white;
    margin-bottom: 15px;
}

.details {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2%;
    .details-header {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
}
.product-image {
    display: flex;
}

.all-images{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    .image-prod {
        border: 1px solid lightgray;
        margin-bottom: 2%;
        .arrow-up {
            margin: 10px;
            width: 0; 
            height: 0; 
            border-right: 70px solid transparent;
            border-top: 70px solid red;
            span{
                position:relative;
                top: -40px;
                left: 10px;
                color: white;
                font-size: 14px;
                font-weight: bold;
                transform: rotate(-45deg);
                text-transform: uppercase;
                display:block;
            }
          }
    }
    .sub-images{
        margin: 10px 0;
        img{
            border: 1px solid lightgrey;
            width: 70px;
            height: 120px;
            margin-right: 10px;
        }
    }
}

.specifications {
    display: flex;
    flex-direction: column;
    .spec-header{
        font-size: 36px;
        font-weight: bold;
    }
    .clip-tags{
        display: flex;
        margin-bottom: 5px;
        .mobile-view{
            display: flex;
        }
        .tag{
            display: flex;
            background-color: rgb(243, 242, 242);
            margin-right: 5px;
            p{
                font-size: 14px;
                color: gray;
            }
            
        }
        .type1{
            clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
            padding: 8px 20px;
            padding-right: 30px;
        }

        .type2{
            clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
            padding: 8px 30px;
        }
        .type3{
            clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
            padding: 8px 30px;
        }
        .type4{
            clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
            padding: 8px 30px;
        }
    }
}

.pricetag {
    margin-top: 5%;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;

    .price {
        font-size: 31px;
        font-weight: bold;
        margin-right: 50px;
    }
    .prev-price {
        font-size: 18px;
        color: gray;
        text-align: end;
        text-decoration: line-through;
        padding-bottom: 5px;
    }
}

.description {
    display: flex;
    padding-top: 2%;
    p {
        font-size: 14px;
        color: gray;
    }
}

.sizes {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    h4{
        color: gray;
    }
}

.pills{
    display: flex;
    margin-top: 1%;
    padding-bottom: 3%;
    border-bottom: 1px solid lightgray;
    .pill {
        display: flex;
        border: 1px solid lightgray;
        border-radius: 25%;
        width: 30px;
        justify-content: center;
        padding: 2px;
        margin-right: 10px;
        text-transform: uppercase;
    }
}

.about-seller {
    display: flex;
    padding: 2% 0;
    color: blue;
    text-decoration: underline;
    border-bottom: 1px solid lightgray;
}

.addons-info{
    display: flex;
    flex-direction: column;
}

.tabs{
    display: flex;
    border-bottom: 1px solid lightgray;

    
}

#infotab {
    padding: 2%;
    cursor: pointer;
    border-bottom: 2px solid blue;
    h4{
        color: gray;
    }
}
#desctab {
    padding: 2%;
    cursor: pointer;
    h4{
        color: gray;
    }
}

.contents {
    display: flex;
}

#infocontent{
    display: flex;
    flex-direction: column;
    h4{
        margin-top: 2%;
    }
}

#subcontent {
    display: none;
    margin-top: 2%;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    padding: 3%;
    margin-top: 3%;
    h3{
        margin-bottom: 2%;
    }
    p {
        margin-bottom: 1%;
    }
    .alertpop {
        border: hidden;
        padding: 10px;
        color: white;
        cursor: pointer;
        background-color: rgb(187, 187, 187);
        margin-left: auto;
    }
}

@media screen and (max-width: 600px) {
    header{
        .switch{
            display: flex;
            padding-left: 2%;
        }
        .logo{
            display: none;
        }
    }
    .product-details{
        overflow-x: hidden;
    }
    .logo-label{
        display: flex;
        width: 100%;
        background-color: black;
    }
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 2;
        transform: translateX(-217px);     
        li{
            display: flex;
            width: 81%;
        }
        hr {
            width: 90%;
            margin-left: 8px;
        }      
    }
    .product-image{
        display: flex;
        flex-direction: column;
    }
    .modal-open{
        .modal-window{
            position: fixed;
            top: 0;
            left: 10%;
            width: 65%;
        }
    }
    .specifications {
        .spec-header{
            font-size: 33px;
        }
        .clip-tags{
            flex-direction: column;
            .mobile-view{
                margin-bottom: 5px;
            }
            .tag{
                width: 60px;
            }
            .type3{
                margin-top: 5px;
            }
            .type4{
                width: 120px;
                margin: 5px 0;
            }
        }
    }
    .details{
        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            visibility: hidden;
            opacity: 0;
        }
        .details-header {
            font-size: 14px;
            font-weight: bold;
            padding: 10px 0;
        }
    }
    .sub-images{
        .sub-img1{
            border: 1px solid lightgrey;
            width: 70px;
            height: 120px;
        }
    }
    .pricetag {
    
        .price {
            font-size: 28px;
            font-weight: bold;
        }
        .prev-price {
            font-size: 16px;
        }
    }
    .sidebar-open {
        .sidebar{
            transform: translateX(0);
        }
        .details{
            .overlay{
                visibility: visible;
                opacity: 1;
            }
        }
    }
}